/*
==============================
Author: Sergi. J
Date:Jan, 2020
==============================
*/

@import "./reset";
@import "./base";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");

/*
==============================
Global
==============================
*/

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Noto Sans JP", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-weight: 300;
  color: $primary;
  background: $quaternary;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: $primary;
}

a:link,
a:active,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2.6rem;
}

h6 {
  font-size: 2.2rem;
}

p {
  padding: 0;
  margin: 0;
}

/*
==============================
Container & Grid
==============================
*/

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}

/*
==============================
Btn
==============================
*/

.btn {
  background: $gradient-primary;
  margin: 1em 0;
  transition: $transition;
  color: $white;
  border-radius: 0.7rem;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: $gradient-secondary;
}

/*
==============================
Nav
==============================
*/

.nav {
  background: $tertiary;
  position: sticky;
  top: 0;
  z-index: 888;
}

.nav__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 8rem;
}

.nav__menu {
  background: $tertiary;
  padding: 1em;
  position: absolute;
  z-index: 999;
  top: 8rem;
  left: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-200%);
  transition: $transition;
  border-bottom-right-radius: 0.7rem;
}

.nav__menu ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 40vh;
  text-align: center;
}

.nav__menu ul a {
  display: block;
  background: $gradient-primary;
  margin: 1em;
  padding: 1em;
  color: $white;
  border-radius: 0.7rem;
  font-weight: 500;
}

.nav__menu ul a:hover,
.nav__menu ul a:focus {
  background: $gradient-secondary;
  text-decoration: none;
}

.nav__ham-btn,
.nav__cart-btn {
  position: relative;
  z-index: 1000;
  width: 4.5rem;
  text-align: center;
  font-size: 2.4rem;
  background: $gradient-white;
  padding: 0.4em 0;
  color: $primary;
  transition: $transition;
  border-radius: 0.7rem;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.nav__ham-btn:hover,
.nav__cart-btn:hover,
.nav__ham-btn:focus,
.nav__cart-btn:focus {
  background: $gradient-white-secondary;
}

.nav__menu--show {
  opacity: 1;
  transform: translateY(0%);
}

.nav__brand {
  font-weight: 400;
  font-family: "Yesteryear", cursive;
}

.nav__brand a:hover,
.nav__brand a:focus {
  color: $secondary;
  text-decoration: none;
}

.nav__cart {
  background: $tertiary-darker;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  top: 8rem;
  right: 0;
  overflow-y: scroll;
  opacity: 0;
  transform: scale(0, 1);
  transition: $transition;
  height: 100vh;
  width: 25vw;
}

.nav__cart-count {
  position: absolute;
  z-index: 1001;
  top: -1rem;
  left: 3rem;
  font-size: 1.4rem;
  background: $secondary-lighter;
  border-radius: 40px;
  display: inline-block;
  padding: 0.2em 0.5em;
  color: $white;
}

.nav__cart--show {
  overflow: hidden;
  opacity: 1;
  transform: scale(1, 1);
}

.nav__cart__item {
  display: flex;
  align-items: center;
  background: $white-transparent;
  padding: 1em;
  border-bottom: 1px $quaternary solid;
  font-size: 1.4rem;
}

.nav__cart__item + .nav__cart__item {
  border-top: 1px $tertiary-darker solid;
}

.nav__cart__item__img {
  border-radius: 0.7rem;
  object-fit: cover;
  object-position: 50% 0%;
  flex: 0 0 25%;
  max-width: 25%;
  height: 12rem;
}

.nav__cart__item__info {
  flex: 0 0 65%;
  max-width: 65%;
  padding: 0 1em;
}

.nav__cart__item__quantity {
  flex: 0 0 10%;
  max-width: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 2rem;
}

.nav__cart__item__quantity i {
  color: $secondary-lighter;
  cursor: pointer;
}

.nav__cart__item__quantity-counter {
  margin-right: 0.2em;
}

.nav__cart__item__title,
.nav__cart__item__price {
  display: block;
}

.nav__cart__item__price {
  font-weight: 500;
}

.nav__cart__item__remove-btn {
  background: $secondary-lighter;
  padding: 0.2em 0.6em;
  border: none;
  border-radius: 0.7rem;
  outline: 0;
  font-size: inherit;
  color: $white;
  margin: 0;
  cursor: pointer;
}

.nav__cart__footer {
  text-align: center;
}

.nav__cart__clear-btn {
  padding: 0.5em 1em;
}

/*
==============================
Header
==============================
*/

.header__hero {
  min-height: calc(100vh - 8rem);
  background-blend-mode: overlay;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-color: $black;
  z-index: -1;
}

.header__banner {
  color: $white;
  text-align: center;
  background: $black;
  text-transform: uppercase;
}

.header__btn {
  padding: 1em;
  font-weight: 500;
  font-size: 2.2rem;
  text-transform: uppercase;
}

/*
==============================
Store
==============================
*/

.store__title {
  text-align: center;
}

.store__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -1em;
}

.store__item {
  padding: 0 1em;
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.store__item__img-container {
  position: relative;
  overflow: hidden;
}

.store__item__img {
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  border: 1px $quaternary-darker solid;
  object-fit: cover;
  object-position: 50% 50%;
  height: 20rem;
}

.store__item__btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: $gradient-primary;
  color: $white;
  padding: 0.5em 0.8em;
  transition: $transition;
  transform: translateX(101%);
  font-weight: 500;
  border: 0;
  border-right: 1px $quaternary-darker solid;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  outline: 0;
  cursor: pointer;
}

.store__item__img-container:hover .store__item__btn {
  transform: translateX(0);
}

.store__item__img-container:hover .store__item__img {
  opacity: 0.8;
}

.store__item__btn:hover,
.store__item__btn:focus {
  background: $gradient-secondary;
}

.store__item__info {
  background: $white-transparent;
  padding: 1em;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  border: 1px $quaternary-darker solid;
  border-top: 0;
  flex-grow: 1;
}

.store__item__title {
  font-weight: 500;
  display: block;
}

.store__item__price {
  font-weight: 700;
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black-darker;
  z-index: 799;
  transition: $transition;
  visibility: hidden;
  opacity: 0;
}

.overlay--show {
  visibility: visible;
  opacity: 1;
}

/*
==============================
Utilities
==============================
*/

.pad-tb-1 {
  padding: 1em 0;
}

.pad-tb-2 {
  padding: 2em 0;
}

.pad-2 {
  padding: 2em;
}

.pad-b-2 {
  padding-bottom: 2em;
}

.pad-t-1 {
  padding-top: 1em;
}

.pad-t-2 {
  padding-top: 2em;
}

.pad-t-4 {
  padding-top: 4em;
}

.mar-tb-05 {
  margin: 0.5em 0;
}

.mar-tb-1 {
  margin: 1em 0;
}

.mar-tb-2 {
  margin: 2em 0;
}

.mar-t-2 {
  margin-top: 2em;
}

/*
==============================
Footer
==============================
*/

.footer {
  background: $tertiary;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  text-align: center;
}

/*
==============================
Media Queries
==============================
*/

@media screen and (min-width: 440px) {
  .store__item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 640px) {
  .store__item {
    flex: 1 1 33.33333333333333%;
    max-width: 33.33333333333333%;
  }
}

@media screen and (min-width: 820px) {
  .store__item {
    flex: 1 1 25%;
    max-width: 25%;
  }
}

@media screen and (max-width: 1320px) {
  .nav__cart {
    width: 35vw;
  }
}

@media screen and (max-width: 1120px) {
  .nav__cart {
    width: 40vw;
  }
}

@media screen and (max-width: 920px) {
  .nav__cart {
    width: 55vw;
  }
}

@media screen and (max-width: 720px) {
  .nav__cart {
    width: 65vw;
  }
}

@media screen and (max-width: 520px) {
  .nav__cart {
    width: 100%;
  }
}
